**.*.swp
**/*.aux
**/*.log
**/*.ps
**/*.dvi
**/*.bbl
**/*.blg
**/*~
**/*.brf
**/*.idx
**/*.ilg
**/*.ind
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc
**/*.acn
**/*.glo
**/*.ist
**/*.pdf
**/*.xdy
**/*.acr
**/*.alg
**/*.pyg
**/*.nav
**/*.snm
**/*.vrb
**/*.out.pyg
**/*.fls
**/*.fdb_latexmk
**/*.bcf
**/*.run.xml
